server:
  port: 7777

spring:
  datasource:
#    url: jdbc:mysql://localhost:3306/urunner_jpa_db?serverTimezone=UTC&useSSL=false
#    url: jdbc:mysql://localhost:3306/urunner_non_jpa_db?serverTimezone=UTC&useSSL=false
    url: jdbc:mysql://localhost:3306/urunner_db?serverTimezonee=UTC&useSSL=false
    username: khweb
    password: khWeb@123
    driver-class-name: com.mysql.cj.jdbc.Driver
    dialect: org.hibernate.dialect.MySQL8Dialect
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    open-in-view: false
    database: mysql
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG

